section#contact {
  a: c;
}
section#contact div.wrap {
  a: c;
}
section#contact div.wrap h2 {
  a: c;
}
section#contact div.wrap div {
  a: c;
}
section#contact div.wrap div ul {
  a: c;
}
section#contact div.wrap div ul li {
  a: c;
}
section#contact div.wrap div figure {
  a: c;
}
section#contact div.wrap div figure img {
  a: c;
}