section#graphic {
  a: c;
}
section#graphic div.wrap {
  a: c;
}
section#graphic div.wrap h2 {
  a: c;
}
section#graphic div.wrap ul {
  a: c;
}
section#graphic div.wrap ul li {
  a: c;
}
section#graphic div.wrap ul li figure {
  a: c;
}
section#graphic div.wrap ul li figure img {
  a: c;
}
section#graphic div.wrap ul li p {
  a: c;
}
section#graphic div.wrap ul li a {
  a: c;
}