body { 
  /*! background-color: aliceblue; */
  height: 100%;
}    
/* 상단 */
section{
  height: 100%;
  min-height:929px;
}    
section#cover {
  background-color: #e7a7ae;
  display: flex;
  flex-direction: column;
/*! background-image: url(../img/titlepi.jpg); */
  /*! background-size: cover; */
background-image: url(../img/titleheart.png);
  /*! background-position: bottom; */
  /*! background-image: url(https://images.unsplash.com/photo-1620987278429-ab178d6eb547?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}   
section#cover header {
/*! background-color: rgba(206, 191, 185, 0.8); */
}
section#cover header div.wrap {
  padding-top: 40px;
  max-width: 1440px;
  padding-bottom: 40px;
}
section#cover header div.wrap nav {
  
}
section#cover header div.wrap nav h1 {
  text-align: left;
  /*! width: 423px; */
  margin: 0;
}
section#cover header div.wrap nav h1 a {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
}
section#cover header div.wrap nav h1 a span{
  text-transform: uppercase;
  display: block;
  transform: translateX(65%);
}
section#cover header div.wrap nav ul {
  
  /*! align-items: center; */
  width: 1245px;
  justify-content: right;
}
section#cover header div.wrap nav ul li {
  
  font-size: 23px;
}
section#cover header div.wrap nav ul li a {
  color: #fff;
  padding: 0 16px;
  font-family: 'Pretendard-Regular';
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-transform: capitalize;
  /*! color: #222; */
  text-transform: uppercase;
  font-size: 20px;
}
/* 타이틀 */
section#cover div.title {
  
  height: 100%;
}
section#cover div.title div.wrap {
  
  height: 100%;
  display: flex;
  align-items: center;
} 
section#cover div.title div.wrap h2 {
  
  font-size: 162px;
  font-weight: bold;
}
div.text {
  
}
div.img {
  height: 100%;
}
div.img div.left{
  position: absolute;
  top: 24%;
  display: flex;
  flex-direction: column;
  color: #fff;
  
  align-items: center;
  text-align: center;
  left: 15%;
}
div.img div.left h1{
  font-size: 150px;
  margin-bottom: 20px;
}
div.img div.left p {
  font-size: 30px;
}
div.img div.right{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 61%;
  left: 55%;
}
div.img div.right h1 {
  font-size: 150px;
  color: #fff;
  margin: 0;
}
div.img div.right p {
  font-size: 30px;
  color: #fff;
  
}
/* 어바웃 */
section#aboutme {
  height: 100%;
  position: relative;
}
section#aboutme div.wrap {
  
  /*! row-gap: 20px; */
}
section#aboutme div.wrap h2 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  margin-top: 80px;
  margin-bottom: 60px;
}
section#aboutme div.wrap .text p {
  font-size: 25px;
  color: #595959;
}
section#aboutme div.wrap h2::before {
  content:"";
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top:4px;
  left: 163px;
  z-index: -1;
}
section#aboutme div.wrap figure {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}
section#aboutme div.wrap figure::before {
  /*! content:""; */
  display: block;
  width: 843px;
  height: 391px;
  background-color: #cce7f3;
  position: absolute;
  top:79px;
  left: -354px;
  border-radius: 0 100px 100px 0;
}
section#aboutme div.wrap figure img {
  grid-column: 2;
  grid-row: 2;
  height: 500px;
  align-content: center;
  width: 440px;
  transform: translateX(47px);
}
section#aboutme div.line {
  height: 620px;
  align-content: center;
  background-color: #ccc;
  box-sizing: border-box;
  border-radius: 30px;
  width: 616px;
}
section#aboutme div.box {
  border: 1px solid;
  width: 577px;
  height: 589px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
}
section#aboutme div.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  
}
section#aboutme div.wrap ul.na {
 
}
section#aboutme div.wrap ul.tag {
  display: flex;
  flex-wrap: wrap;
}
section#aboutme div.wrap ul li {
  margin-bottom: 20px;
  font-size: 18px;
  height: fit-content;
  line-height: 1.3;
}
section#aboutme div.wrap ul.tag li {
  width: fit-content;
  background-color: #454e60;
  padding: 13px;
  border-radius: 40px;
  color:#fff;
  margin-left: 10px;
}
section#aboutme div.wrap ul li strong {
  
}
section#aboutme div.img {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  align-items: center;
}
section#aboutme div.img p {
  transform: rotate(270deg) translatey(42%);
  font-size: 80px;
  font-weight: lighter;
  color: #797979;
  position: absolute;
  top: 44%;
  right: 90%;
}
/* 스킬 */
section#skills {
  
  height: 100%;
}
section#skills div.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
section#skills div.wrap h2 {
  font-size: 80px;
  /*! margin-bottom: 100px; */
  /*! margin: 0 auto; */
  position: relative;
  margin-bottom: 60px;
}
section#skills div.wrap h2::before {
  content:""; 
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -16px;
  right: 22px;
  opacity: 0.5;
}
section#skills div.wrap div.con {
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 100px;
}
section#skills div.wrap div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#skills div.wrap div.text p {
  font-size: 25px;
  color:
#595959;
}
section#skills div.wrap div ul h3 {
  
  font-size: 50px;
}
section#skills div.wrap div ul.design {
  
}
section#skills div.wrap div ul.design h3 {
  
  text-align: center;
  margin-bottom: 50px;
}
section#skills div.wrap div ul.design ul {
  
  display: flex;
  gap: 50px;
}
section#skills div.wrap div ul.design ul li {
  
  
}
section#skills div.wrap div ul.design ul li:nth-child(1) {
  background-image: url(../img/ps.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.design ul li:nth-child(2) {
  background-image: url(../img/ai.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.design ul li:nth-child(3) {
  background-image: url(../img/figma.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.coding {
  
}
section#skills div.wrap div ul.coding h3 {
  
  text-align: center;
  margin-bottom: 50px;
}
section#skills div.wrap div ul.coding ul {
  
  display: flex;
  gap: 50px;
}
section#skills div.wrap div ul.coding ul li:nth-child(1) {
  background-image: url(../img/html5.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
} 
section#skills div.wrap div ul.coding ul li:nth-child(2) {
  background-image: url(../img/css.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.coding ul li:nth-child(3) {
  background-image: url(../img/javascript.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.coding ul li:nth-child(4) {
  background-image: url(../img/jquery.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
section#skills div.wrap div ul.coding ul li:nth-child(5) {
  background-image: url(../img/vscode.svg);
  width: 100px;
  height: 100px;
  background-size: contain;
}
/* 포트폴리오 */
section#portfolio {
  height: 100%;
}
section#portfolio .slick-dots {
 bottom: -128px;
}
section#portfolio .slick-dots li {
  
}
section#portfolio .slick-dots li button::before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: '';
  text-align: center;
  background-color: pink;
  border-radius: 50%
}
section#portfolio div.wrap {
  
}
section#portfolio div.wrap .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#portfolio div.wrap .text h2 {
  position: relative;
  margin-bottom: 50px;
}
section#portfolio div.wrap .text p {
  font-size: 25px;
  color: #595959;
}
section#portfolio div.wrap h2 {
  
  font-size: 80px;
}
section#portfolio div.wrap h2::before {
  content:"";
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -12px;
  right: 87px;
  opacity: 0.5;
}
section#portfolio div.wrap div.grid {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  margin-top: 100px;
  display: grid;
}
section#portfolio .slick-next {
  left: 47%;
  top: 84%;
}
section#portfolio button.slick-next {
  background-image: url(../img/ar.svg);
  width: 60px;
  height: 60px;
  background-size: contain;
}
section#portfolio .slick-prev {
  left: 44%;
  top: 84%;
}
section#portfolio button.slick-prev {
  background-image: url(../img/al.svg);
  width: 60px;
  height: 60px;
  background-size: contain;
  z-index: 1;
}
section#portfolio button.slick-prev::before {
  content: "";
}
section#portfolio button.slick-next::before {
 content:""; 
}
section#portfolio div.wrap div h3 {
  
  font-size: 40px;
  grid-column: 1;
  grid-row: 2;
  /*! text-align: center; */
  /*! margin-bottom: -40px; */
  font-weight: bold;
  margin-bottom: 52px;
}
section#portfolio div.wrap div figure {
  grid-column: 2;
  grid-row: 1 / span 4;
  position: relative;
}
section#portfolio div.wrap div figure img {
  width: 525px;
}
section#portfolio div.wrap div figure img:nth-child(2) {
  position: absolute;
  width: 147px;
  background-size: contain;
  top: 43%;
  left: 75%;
  z-index: 1;
} 
section#portfolio div.wrap div figure img:nth-child(3) {
  width: 255px;
  background-size: contain;
  position: absolute;
  top: 34%;
  left: 41%;
}
section#portfolio div.wrap div ul.con {
  grid-column: 1;
  grid-row: 3;
  margin-bottom: 76px;
}
section#portfolio div.wrap div ul li {
  font-size: 20px;
  line-height: 1.3;
}
section#portfolio div.wrap div ul li:first-child {
  margin-bottom: 60px;
  color: #595959;
}
section#portfolio div.wrap div ul li:nth-child(2) {
  
}
section#portfolio div.wrap div ul li:nth-child(3) {
  
}

section#portfolio div.wrap div ul li a {
  width: fit-content;
  padding: 18px;
  border: 1px solid #454e60;
  border-radius: 56px;
  margin-top: 51px;
  background-color: #454e60;
  color: #fff;
}
/* 리뉴얼 */
section#renewal {
  height: 100%;
}
section#renewal button.slick-prev::before {
  content: '';
  /*! color: #222; */
  width: 24px;
  display: block;
  height: 24px;
}
section#renewal .slick-prev {
  top: 80%;
  left: 87% !important;
}
section#renewal button.slick-prev {  
  left: 50px;
  background-image: url(../img/al.svg);
  z-index: 1;
  width: 60px;
  height: 60px;
  background-size: contain;
}
section#renewal button.slick-next::before {
  /*! color: #222; */
  content: '';
}
section#renewal .slick-next {
  top: 80%;
  left: 90% !important;
}
section#renewal button.slick-next {
  right: 50px;
  background-image: url(../img/ar.svg);
  width: 60px;
  height: 60px;
  background-size: contain;
}
section#renewal button.slick-next .slick-next::before {
  
}
section#renewal div.wrap {
  
}
section#renewal div.wrap h2 {
  font-size: 80px;
  position: relative;
  margin-bottom: 60px;
}
section#renewal div.wrap h2::before {
  content:"";
} 
section#renewal div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#renewal div.text h2::before {
  content:"";
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top: -14px;
  right: 205px;
  z-index: -1;
}
section#renewal div.text p {
  font-size: 25px;
  color: #595959;
  margin-bottom: 100px;
}
section#renewal div.wrap div.reani {
  
}
section#renewal div.wrap div.reani div {

}
section#renewal .slick-dots {
  bottom: -74px;
}
section#renewal .slick-dots li.slick-active button::before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: '';
  text-align: center;
  background-color: pink;
  border-radius: 50%;
}
section#renewal .slick-dots li button::before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: '';
  text-align: center;
  background-color: pink;
  border-radius: 50%;
}
section#renewal div.con {
  display: flex;
  gap: 50px;
}
section#renewal div.img {
  
}
section#renewal div.con ul {
  
}
section#renewal div.con ul h3 {

}
section#renewal div.con ul li {
  
}
section#renewal div.con ul li:nth-of-type(1) {
  font-size: 22px;
  color: #595959;
  margin-bottom: 45px;
}
section#renewal div.wrap div.reani div figure {
  
  display: flex;
  justify-content: center;
}
section#renewal div.wrap div.reani div figure img {
  
  width: 683px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section#renewal div.wrap div.reani div ul {
  
  flex-direction: column;
  text-align: center;
  gap: 10px;
  justify-content: center;
}
section#renewal div.wrap div.reani div ul h3 {
  
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
}
section#renewal div.wrap div.reani div ul li {
  display: flex;
  gap: 20px;
  text-align: left;
}
section#renewal div.wrap div.reani div ul li a {
  
  border: 1px solid;
  width: fit-content;
  border-radius: 33px;
  width: 170px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454e60;
  color: #fff;
  border: none;
}
/* 그래픽 */
.wpopup {
  width: 100%;
  height: 721%;
  position: absolute;
  top:-49px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
} 
.wpopup .inner {
/*   width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 74%; */
}
.wpopup img {
  width: 478px;
  /*! height: 507px; */
  position: relative;
  position: absolute;
  top: 74%;
  background-size: contain;
} 
.wpopup p {
  font-size: 39px;
  position: absolute;
  color: #fff;
  top: 73%;
} 
.wpopup button.close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top:74%;
  right:39%;
  
} 
section#graphic {
  height: 100%;
  /*! position: relative; */
}
section#graphic div.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#graphic div.wrap h2 {
  font-size: 80px;
  position: relative;
  margin-bottom: 60px;
}
section#graphic div.wrap h2::before {
  content:"";
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  opacity:0.5;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -9px;
  right: 204px;
}
section#graphic div.wrap div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#graphic div.wrap .text p {
  font-size: 25px;
  color:#595959;
  margin-bottom: 30px;
}
section#graphic div.wrap div.content {
  
  height: fit-content;
  width: 1000px;
}
section#graphic div.wrap ul {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 700px;
  gap: 10px;
  overflow: hidden;
}
section#graphic div.wrap ul li {
  position: relative;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
}
section#graphic div.wrap ul li:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  background-image: url(../img/banana.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#graphic div.wrap ul li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  background-image: url(../img/spd.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
section#graphic div.wrap ul li:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  background-image: url(../img/igd.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
section#graphic div.wrap ul li:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  background-image: url(../img/im4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#graphic div.wrap ul li:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-image: url(../img/im5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#graphic div.wrap ul li figure {
  height: 100%;
  background-size: contain;
  background-position: bottom;
}
section#graphic div.wrap ul li figure img {  
  width: 100%;
}
section#graphic div.wrap ul li div.wrapText {
  transition: 0.2s;
}
section#graphic div.wrap ul li:hover div.wrapText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  gap: 20px;
}
section#graphic div.wrap ul li div.wrapText a {
  color: #fff;
  border: 1px solid;
  padding: 10px;
}
section#graphic div.wrap ul li:nth-child(1) div.wrapText a {
  
}
section#graphic div.wrap ul li div.wrapText p {
 
  color: #fff;
  font-size: 25px;
}
/* 컨택트 */
section#contact {
  height: 100%;
  position: relative;
}
section#contact::before {
  
}
section#contact div.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#contact div.wrap::before {
  content:"";
  display: block;
  width: 1075px;
  height: 500px;
  background-color: #464d60;
  position: absolute;
  top:185px;
  right:0;
  border-radius: 300px 0 0 300px;
  opacity: 0.5;
  left: 785px;
}
section#contact div.wrap h2 {
  font-size: 80px;
  position: relative;
  display: flex;
  width: 472px;
  justify-content: end;
}
section#contact div.wrap h2::before {
  content:"";
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left:275px;
  z-index: -1;
  opacity: 0.5;
}
section#contact div.wrap div {
  justify-content: center;
  gap: 20px;
}
section#contact div.wrap div ul {
  
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  text-align: center;
}
section#contact div.wrap div ul p {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
} 
section#contact div.wrap div ul li {
  
  font-size: 20px;
  text-align: left;
}
section#contact div.wrap div figure {
  
  z-index: 1;
}
section#contact div.wrap div figure img {
  
} 
/* rights */
section#rights {
  
  width: 100%;
  height: 130px;
  background-color: #292929;
  min-height: initial;
}
section#rights div {
  
  height: 100%;
}
section#rights div ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
section#rights div ul li {
  
  color: #fff;
}