section#contact {a:c;
    div.wrap {a:c;
        h2 {a:c;

        }
        div {a:c;
            ul {a:c;
                li {a:c;

                }
            }
            figure {a:c;
                img {a:c;

                }
            }
        }
    }
}