section#graphic {a:c;
    div.wrap {a:c;
        h2 {a:c;

        }
        ul {a:c;
            li {a:c;
                figure {a:c;
                    img {a:c;

                    }
                }
                p {a:c;

                }
                a {a:c;

                }
            }
        }
    }
}